{% extends 'base.html' %}
{%block title%}Cписок городов{%endblock%}
{% block content %}
<h1> Маршут</h1>
<div class="row">
    <div class="col-md">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Время пути</th>
                <th>Список поездов по маршуту</th>
            </tr>
            <tr>
                <td> {{object.name}}</td>
                <td>{{object.from_city}}</td>
                <td>{{object.to_city}}</td>
                <td>{{object.travel_times}}</td>
                <td>

                    {% for train in object.trains.all %}
                    <p> {{train}}, время в пути {{train.travel_time}} </p>
                    {% endfor %}

                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="{%url 'trains:home' %}">
            <button type="button" class="btn btn-light"> Назад</button>
        </a>
    </div>
</div>

{%endblock%}