{% extends 'base.html' %}
{%block title%}Cписок городов{%endblock%}
{% block content %}
<h1> Список городов:</h1>
<div class="row">
    <div class="col-md-8 mx-auto">
        <table class="table table-striped">
            {%for object in objects_list%}
            <tr>
                <td>
                    <a href="{{object.get_absolute_url}}"> {{object.name}}</a>
                </td>
                <td>
                    <a href="{{object.get_absolute_url_update}}">
                        <button type="submit" class="btn btn-primary"> Редактировать</button>
                    </a>
                </td>
                <td>
                    <a href="{{object.get_absolute_url_delete}}">
                        <button type="submit" class="btn btn-danger"> Удалить</button>
                    </a>
                </td>
            </tr>

            {%endfor%}
        </table>
    </div>


</div>
{%endblock%}

