{% if form.non_field_errors %}
<div class="alert alert-error">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
</div>

{% elif  form.errors%}
<div class="alert alert-error">
    {% for f in form %}
        {% for error in f.errors %}
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <form action="{{action}}" method="post"> {%csrf_token%}
            {%for f in form%}
            <p> {{f.label}}: {{f}}</p>
            <p>{{f.title.errors}}</p>
            {%endfor%}
            <button type="submit" class="btn btn-primary"> {{button}}</button>
        </form>
    </div>
</div>
